#DA 204o Data Science in Practice

Project: Online News Popularity

Authors: Rajat Chaudhary, Sonu Goyal, Srinivas Shavukapu Kattegummula, Yuvaraj G
email: rajatc@iisc.ac.in, sonugoyal@iisc.ac.in, srinivassk@iisc.ac.in, yuvarajgopi@iisc.ac.in

# 00-Prerequisities
## Libraries Required and Import of all Libraries

In [ ]:
#Libraries Required and Import of all Libraries
import warnings
warnings.filterwarnings("ignore")
from pathlib import Path
import numpy as np
import pandas as pd
import math
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

#Regression Algorithm models
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import StackingRegressor, RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression


#Classification Algorithm models
from xgboost import XGBClassifier
from sklearn.ensemble import StackingClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB





from sklearn.metrics import accuracy_score, precision_recall_fscore_support, confusion_matrix
from sklearn.model_selection import GroupKFold
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_squared_log_error
from sklearn.preprocessing import FunctionTransformer,OrdinalEncoder
from sklearn.model_selection import train_test_split, cross_val_score


from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import label_binarize
from sklearn.utils.class_weight import compute_sample_weight

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PowerTransformer
from sklearn.base import clone


from sklearn.inspection import permutation_importance

# 01-data-collection

In [ ]:
#01-data-collection
# # Paths
BASE_PATH = Path("/Users/yuvaraj/Desktop/IISc/01_Semester/DA 204o Data Science in Practice/Project/Input")
BASE_FILE = BASE_PATH / "OnlineNewsPopularity.csv"

In [3]:
df = pd.read_csv(BASE_FILE, low_memory=False)

In [4]:
print(df.head())
print("Shape of dataset",df.shape)

                                                 url   timedelta  \
0  http://mashable.com/2013/01/07/amazon-instant-...       731.0
1  http://mashable.com/2013/01/07/ap-samsung-spon...       731.0
2  http://mashable.com/2013/01/07/apple-40-billio...       731.0
3  http://mashable.com/2013/01/07/astronaut-notre...       731.0
4   http://mashable.com/2013/01/07/att-u-verse-apps/       731.0

    n_tokens_title   n_tokens_content   n_unique_tokens   n_non_stop_words  \
0             12.0              219.0          0.663594                1.0
1              9.0              255.0          0.604743                1.0
2              9.0              211.0          0.575130                1.0
3              9.0              531.0          0.503788                1.0
4             13.0             1072.0          0.415646                1.0

    n_non_stop_unique_tokens   num_hrefs   num_self_hrefs   num_imgs  ...  \
0                   0.815385         4.0              2.0        1.0  ...
1                   0.791946         3.0              1.0        1.0  ...
2                   0.663866         3.0              1.0        1.0  ...
3                   0.665635         9.0              0.0        1.0  ...
4                   0.540890        19.0             19.0       20.0  ...

    min_positive_polarity   max_positive_polarity   avg_negative_polarity  \
0                0.100000                     0.7               -0.350000
1                0.033333                     0.7               -0.118750
2                0.100000                     1.0               -0.466667
3                0.136364                     0.8               -0.369697
4                0.033333                     1.0               -0.220192

    min_negative_polarity   max_negative_polarity   title_subjectivity  \
0                  -0.600               -0.200000             0.500000
1                  -0.125               -0.100000             0.000000
2                  -0.800               -0.133333             0.000000
3                  -0.600               -0.166667             0.000000
4                  -0.500               -0.050000             0.454545

    title_sentiment_polarity   abs_title_subjectivity  \
0                  -0.187500                 0.000000
1                   0.000000                 0.500000
2                   0.000000                 0.500000
3                   0.000000                 0.500000
4                   0.136364                 0.045455

    abs_title_sentiment_polarity   shares
0                       0.187500      593
1                       0.000000      711
2                       0.000000     1500
3                       0.000000     1200
4                       0.136364      505

[5 rows x 61 columns]
Shape of dataset (39644, 61)

Attribute Information:
     0. url:                           URL of the article (non-predictive)
     1. timedelta:                     Days between the article publication and the dataset acquisition (non-predictive)
     2. n_tokens_title:                Number of words in the title
     3. n_tokens_content:              Number of words in the content
     4. n_unique_tokens:               Rate of unique words in the content
     5. n_non_stop_words:              Rate of non-stop words in the content
     6. n_non_stop_unique_tokens:      Rate of unique non-stop words in the content
     7. num_hrefs:                     Number of links
     8. num_self_hrefs:                Number of links to other articles published by Mashable
     9. num_imgs:                      Number of images
    10. num_videos:                    Number of videos
    11. average_token_length:          Average length of the words in the content
    12. num_keywords:                  Number of keywords in the metadata
    13. data_channel_is_lifestyle:     Is data channel 'Lifestyle'?
    14. data_channel_is_entertainment: Is data channel 'Entertainment'?
    15. data_channel_is_bus:           Is data channel 'Business'?
    16. data_channel_is_socmed:        Is data channel 'Social Media'?
    17. data_channel_is_tech:          Is data channel 'Tech'?
    18. data_channel_is_world:         Is data channel 'World'?
    19. kw_min_min:                    Worst keyword (min. shares)
    20. kw_max_min:                    Worst keyword (max. shares)
    21. kw_avg_min:                    Worst keyword (avg. shares)
    22. kw_min_max:                    Best keyword (min. shares)
    23. kw_max_max:                    Best keyword (max. shares)
    24. kw_avg_max:                    Best keyword (avg. shares)
    25. kw_min_avg:                    Avg. keyword (min. shares)
    26. kw_max_avg:                    Avg. keyword (max. shares)
    27. kw_avg_avg:                    Avg. keyword (avg. shares)
    28. self_reference_min_shares:     Min. shares of referenced articles in Mashable
    29. self_reference_max_shares:     Max. shares of referenced articles in Mashable
    30. self_reference_avg_sharess:    Avg. shares of referenced articles in Mashable
    31. weekday_is_monday:             Was the article published on a Monday?
    32. weekday_is_tuesday:            Was the article published on a Tuesday?
    33. weekday_is_wednesday:          Was the article published on a Wednesday?
    34. weekday_is_thursday:           Was the article published on a Thursday?
    35. weekday_is_friday:             Was the article published on a Friday?
    36. weekday_is_saturday:           Was the article published on a Saturday?
    37. weekday_is_sunday:             Was the article published on a Sunday?
    38. is_weekend:                    Was the article published on the weekend?
    39. LDA_00:                        Closeness to LDA topic 0
    40. LDA_01:                        Closeness to LDA topic 1
    41. LDA_02:                        Closeness to LDA topic 2
    42. LDA_03:                        Closeness to LDA topic 3
    43. LDA_04:                        Closeness to LDA topic 4
    44. global_subjectivity:           Text subjectivity
    45. global_sentiment_polarity:     Text sentiment polarity
    46. global_rate_positive_words:    Rate of positive words in the content
    47. global_rate_negative_words:    Rate of negative words in the content
    48. rate_positive_words:           Rate of positive words among non-neutral tokens
    49. rate_negative_words:           Rate of negative words among non-neutral tokens
    50. avg_positive_polarity:         Avg. polarity of positive words
    51. min_positive_polarity:         Min. polarity of positive words
    52. max_positive_polarity:         Max. polarity of positive words
    53. avg_negative_polarity:         Avg. polarity of negative  words
    54. min_negative_polarity:         Min. polarity of negative  words
    55. max_negative_polarity:         Max. polarity of negative  words
    56. title_subjectivity:            Title subjectivity
    57. title_sentiment_polarity:      Title polarity
    58. abs_title_subjectivity:        Absolute subjectivity level
    59. abs_title_sentiment_polarity:  Absolute polarity level
    60. shares:                        Number of shares (target)

# 02-data-preprocessing

In [ ]:
#02-data-preprocessing
# Exploring the data for Number and Percentage of "NaN", Data type of column and Column values & its grouping

# User defined function to check above mentioned items for all columns
def value_counts_summary(df):
  summary = {}
  for col in df.columns:
    print("-"*80)
    null_count=df[col].isna().sum()
    null_percentage=null_count/len(df)*100
    print("Column : ",col,";   NA : ",null_count,";   NA_% : ",round(null_percentage,2), ";   Data_Type : ",df[col].dtype)
    summary[col] = df[col].value_counts(dropna=False)
    print(summary[col])
    print("-"*80)


value_counts_summary(df)

--------------------------------------------------------------------------------
Column :  url ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  object
url
http://mashable.com/2013/01/07/amazon-instant-video-browser/                          1
http://mashable.com/2014/06/05/congress-bergdahl-swap/                                1
http://mashable.com/2014/06/05/barnes-noble-nook-samsung-galaxy-tab-4/                1
http://mashable.com/2014/06/05/beastie-boys-awarded-1-7-million-in-copyright-case/    1
http://mashable.com/2014/06/05/beats-world-cup-ad/                                    1
                                                                                     ..
http://mashable.com/2013/09/18/matthew-cordle-youtube-guilty/                         1
http://mashable.com/2013/09/18/memoir-app/                                            1
http://mashable.com/2013/09/18/microsoft-internet-explorer-11-update/                 1
http://mashable.com/2013/09/18/most-expensive-video-games/                            1
http://mashable.com/2014/12/27/youtube-channels-2015/                                 1
Name: count, Length: 39644, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   timedelta ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 timedelta
91.0     104
72.0     102
84.0     101
59.0      99
29.0      99
        ...
375.0     15
376.0     15
656.0     15
730.0     12
8.0        8
Name: count, Length: 724, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   n_tokens_title ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 n_tokens_title
10.0    7358
11.0    6960
9.0     6278
12.0    5299
8.0     4227
13.0    3509
7.0     2120
14.0    1733
6.0      805
15.0     756
16.0     259
5.0      184
17.0      91
4.0       28
18.0      22
19.0       6
3.0        5
20.0       2
2.0        1
23.0       1
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   n_tokens_content ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 n_tokens_content
0.0       1181
286.0      101
225.0       86
335.0       86
279.0       85
          ...
2611.0       1
2309.0       1
3320.0       1
1664.0       1
2509.0       1
Name: count, Length: 2406, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   n_unique_tokens ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 n_unique_tokens
0.000000    1181
0.666667      10
0.552083       9
0.674757       8
0.613475       8
            ...
0.576613       1
0.395460       1
0.351386       1
0.458861       1
0.539493       1
Name: count, Length: 27281, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   n_non_stop_words ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 n_non_stop_words
0.0    1181
1.0     138
1.0     136
1.0     133
1.0     129
       ...
1.0       1
1.0       1
1.0       1
1.0       1
1.0       1
Name: count, Length: 1451, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   n_non_stop_unique_tokens ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 n_non_stop_unique_tokens
0.000000    1181
0.815534      13
0.765625      12
0.873239      12
0.707865      12
            ...
0.674419       1
0.592401       1
0.551429       1
0.509881       1
0.692661       1
Name: count, Length: 22930, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   num_hrefs ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 num_hrefs
4.0      3470
5.0      3431
6.0      3154
3.0      2871
7.0      2782
         ...
187.0       1
108.0       1
152.0       1
98.0        1
304.0       1
Name: count, Length: 133, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   num_self_hrefs ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 num_self_hrefs
2.0      7624
1.0      6788
3.0      6612
0.0      5350
4.0      4603
5.0      2922
6.0      1851
7.0      1127
8.0       677
9.0       452
10.0      325
11.0      227
12.0      181
13.0      122
15.0       85
14.0       84
20.0       69
21.0       57
16.0       49
18.0       42
19.0       42
17.0       40
22.0       31
32.0       30
23.0       29
31.0       28
24.0       25
25.0       20
30.0       19
28.0       17
29.0       17
33.0       15
27.0       14
26.0       12
34.0       11
41.0        4
51.0        4
36.0        4
39.0        4
40.0        3
63.0        3
35.0        3
54.0        2
50.0        2
56.0        2
49.0        2
38.0        2
43.0        1
116.0       1
62.0        1
44.0        1
60.0        1
74.0        1
37.0        1
55.0        1
47.0        1
42.0        1
53.0        1
65.0        1
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   num_imgs ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 num_imgs
1.0      18119
0.0       6987
2.0       2965
3.0       1223
11.0      1125
         ...
69.0         1
91.0         1
128.0        1
90.0         1
59.0         1
Name: count, Length: 91, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   num_videos ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 num_videos
0.0     25026
1.0      9483
2.0      2189
3.0       527
11.0      285
4.0       245
10.0      213
21.0      202
5.0       149
26.0      124
6.0       116
16.0      103
9.0       101
7.0        90
8.0        82
15.0       81
12.0       79
13.0       73
14.0       69
25.0       68
20.0       59
17.0       54
18.0       29
27.0       28
22.0       25
19.0       16
31.0       15
33.0       15
24.0       12
23.0       11
28.0        9
73.0        7
50.0        7
51.0        6
34.0        5
74.0        5
32.0        4
30.0        4
29.0        3
35.0        3
58.0        3
36.0        2
48.0        2
59.0        2
75.0        2
65.0        2
42.0        2
38.0        2
66.0        1
53.0        1
91.0        1
46.0        1
49.0        1
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   average_token_length ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 average_token_length
0.000000    1181
5.000000      77
4.500000      72
4.666667      58
4.600000      35
            ...
4.591484       1
5.063325       1
4.692671       1
4.652815       1
4.975073       1
Name: count, Length: 30136, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   num_keywords ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 num_keywords
7.0     7322
6.0     6801
10.0    6708
8.0     6094
5.0     4829
9.0     4732
4.0     2427
3.0      635
1.0       51
2.0       45
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_lifestyle ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_lifestyle
0.0    37545
1.0     2099
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_entertainment ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_entertainment
0.0    32587
1.0     7057
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_bus ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_bus
0.0    33386
1.0     6258
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_socmed ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_socmed
0.0    37321
1.0     2323
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_tech ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_tech
0.0    32298
1.0     7346
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   data_channel_is_world ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 data_channel_is_world
0.0    31217
1.0     8427
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_min_min ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_min_min
-1.0      22980
 4.0      11908
 217.0     4636
 0.0         79
 47.0         6
 57.0         5
 86.0         4
 82.0         3
 88.0         2
 63.0         2
 45.0         2
 129.0        2
 294.0        2
 138.0        1
 98.0         1
 116.0        1
 377.0        1
 184.0        1
 41.0         1
 318.0        1
 162.0        1
 65.0         1
 42.0         1
 201.0        1
 80.0         1
 97.0         1
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_max_min ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_max_min
1100.0     1507
1200.0     1188
1300.0      830
0.0         819
1400.0      785
           ...
33100.0       1
32200.0       1
22200.0       1
12600.0       1
470.0         1
Name: count, Length: 1076, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_avg_min ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_avg_min
-1.000000      694
 0.000000       81
 43.250000      48
 125.000000     45
 107.666667     44
              ...
 277.300000      1
 378.300000      1
 363.300000      1
 612.125000      1
 102.863333      1
Name: count, Length: 17003, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_min_max ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_min_max
0.0       17108
1500.0      379
1400.0      371
1200.0      367
1300.0      361
          ...
729.0         1
47.0          1
940.0         1
674.0         1
883.0         1
Name: count, Length: 1021, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_max_max ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_max_max
843300.0    30204
690400.0     3986
617900.0     2263
69100.0      1265
51900.0       829
80400.0       401
39400.0       149
28000.0       131
37400.0       122
17100.0       101
0.0            79
227300.0       72
306100.0        8
104100.0        5
663600.0        4
441000.0        2
310800.0        2
118700.0        2
73100.0         2
67500.0         2
11100.0         1
93800.0         1
18200.0         1
41600.0         1
210300.0        1
27700.0         1
57600.0         1
15000.0         1
139600.0        1
111300.0        1
53100.0         1
86200.0         1
208300.0        1
35800.0         1
233400.0        1
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_avg_max ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_avg_max
0.000000         79
843300.000000    57
406425.000000    46
384225.000000    44
483900.000000    40
                 ..
220371.428571     1
379200.000000     1
174788.888889     1
164528.571429     1
295850.000000     1
Name: count, Length: 30834, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_min_avg ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_min_avg
0.000000       17102
1100.000000      154
1200.000000      133
1300.000000      123
1400.000000      110
               ...
3119.240506        1
1972.494253        1
1184.437500        1
1099.888889        1
3035.080555        1
Name: count, Length: 15982, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_max_avg ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_max_avg
0.000000       79
3517.727146    44
3483.305109    44
3445.033990    41
3399.331393    36
               ..
6132.000000     1
7264.578652     1
4517.500000     1
5528.154111     1
3613.512953     1
Name: count, Length: 19438, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   kw_avg_avg ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 kw_avg_avg
0.000000       79
2688.989334     8
4109.953795     4
3941.365969     4
2902.801465     4
               ..
2156.468339     1
3500.472607     1
2326.722761     1
2458.670873     1
3296.909481     1
Name: count, Length: 39300, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   self_reference_min_shares ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 self_reference_min_shares
0.0        7174
1100.0     1727
1300.0     1362
1200.0     1349
1400.0     1106
           ...
97.0          1
218.0         1
37300.0       1
227.0         1
306.0         1
Name: count, Length: 1255, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   self_reference_max_shares ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 self_reference_max_shares
0.0        7175
1200.0      766
1100.0      748
1300.0      737
1500.0      697
           ...
57800.0       1
613.0         1
579.0         1
26500.0       1
452.0         1
Name: count, Length: 1137, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   self_reference_avg_sharess ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 self_reference_avg_sharess
0.000000        7174
1200.000000      570
1300.000000      557
1100.000000      540
1400.000000      481
                ...
4431.000000        1
2957.880000        1
15563.000000       1
1057.666667        1
452.000000         1
Name: count, Length: 8626, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_monday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_monday
0.0    32983
1.0     6661
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_tuesday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_tuesday
0.0    32254
1.0     7390
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_wednesday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_wednesday
0.0    32209
1.0     7435
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_thursday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_thursday
0.0    32377
1.0     7267
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_friday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_friday
0.0    33943
1.0     5701
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_saturday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_saturday
0.0    37191
1.0     2453
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   weekday_is_sunday ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 weekday_is_sunday
0.0    36907
1.0     2737
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   is_weekend ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 is_weekend
0.0    34454
1.0     5190
Name: count, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   LDA_00 ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 LDA_00
0.200000    51
0.050000    17
0.050000    14
0.050000    12
0.920000    12
            ..
0.020024     1
0.040085     1
0.033334     1
0.028578     1
0.050001     1
Name: count, Length: 39337, dtype: int64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Column :   LDA_01 ;   NA :  0 ;   NA_% :  0.0 ;   Data_Type :  float64
 LDA_01
0.200000    51
0.050000    36
0.066667    30
0.066667    25
0.040000    24
            ..
0.040067     1
0.245274     1
0.040000     1
0.034115     1
0.799339     1
Name: count, Length: 39098, dtype: int64
--------------------------------------------------------------------------------

Observation: No NAN values are found in the model

In [6]:
#Remove whitespace in columns headers

def trim_column_names(df):
    # Print a sample before to see the issue
    print("Before Trimming :", df.columns[:].tolist())
    
    # The actual cleaning line: .str.strip() removes spaces from both ends
    df.columns = df.columns.str.strip()
    
    # Verify the change
    print("After Trimming: ", df.columns[:].tolist())
    
    return df

# Run the function
df = trim_column_names(df)

Before Trimming : ['url', ' timedelta', ' n_tokens_title', ' n_tokens_content', ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens', ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos', ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle', ' data_channel_is_entertainment', ' data_channel_is_bus', ' data_channel_is_socmed', ' data_channel_is_tech', ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares', ' self_reference_max_shares', ' self_reference_avg_sharess', ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday', ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday', ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04', ' global_subjectivity', ' global_sentiment_polarity', ' global_rate_positive_words', ' global_rate_negative_words', ' rate_positive_words', ' rate_negative_words', ' avg_positive_polarity', ' min_positive_polarity', ' max_positive_polarity', ' avg_negative_polarity', ' min_negative_polarity', ' max_negative_polarity', ' title_subjectivity', ' title_sentiment_polarity', ' abs_title_subjectivity', ' abs_title_sentiment_polarity', ' shares']
After Trimming:  ['url', 'timedelta', 'n_tokens_title', 'n_tokens_content', 'n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens', 'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos', 'average_token_length', 'num_keywords', 'data_channel_is_lifestyle', 'data_channel_is_entertainment', 'data_channel_is_bus', 'data_channel_is_socmed', 'data_channel_is_tech', 'data_channel_is_world', 'kw_min_min', 'kw_max_min', 'kw_avg_min', 'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg', 'kw_avg_avg', 'self_reference_min_shares', 'self_reference_max_shares', 'self_reference_avg_sharess', 'weekday_is_monday', 'weekday_is_tuesday', 'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday', 'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00', 'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity', 'global_sentiment_polarity', 'global_rate_positive_words', 'global_rate_negative_words', 'rate_positive_words', 'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity', 'max_positive_polarity', 'avg_negative_polarity', 'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity', 'title_sentiment_polarity', 'abs_title_subjectivity', 'abs_title_sentiment_polarity', 'shares']

In [7]:
def check_column_types(df):
    print(f"{'COLUMN NAME':<30} | {'DATA TYPE CATEGORY':<20}")
    print("-" * 55)
    
    for col in df.columns:
        # Check if column is numeric (Integers or Floats)
        if pd.api.types.is_numeric_dtype(df[col]):
            col_type = "Numeric"
        # Check if column is object/string/categorical
        elif pd.api.types.is_string_dtype(df[col]) or pd.api.types.is_object_dtype(df[col]):
            col_type = "String / Object"
        else:
            col_type = "Other (Time/Bool)"
            
        print(f"{col:<30} | {col_type:<20}")

# Run the function
check_column_types(df)

COLUMN NAME                    | DATA TYPE CATEGORY
-------------------------------------------------------
url                            | String / Object
timedelta                      | Numeric
n_tokens_title                 | Numeric
n_tokens_content               | Numeric
n_unique_tokens                | Numeric
n_non_stop_words               | Numeric
n_non_stop_unique_tokens       | Numeric
num_hrefs                      | Numeric
num_self_hrefs                 | Numeric
num_imgs                       | Numeric
num_videos                     | Numeric
average_token_length           | Numeric
num_keywords                   | Numeric
data_channel_is_lifestyle      | Numeric
data_channel_is_entertainment  | Numeric
data_channel_is_bus            | Numeric
data_channel_is_socmed         | Numeric
data_channel_is_tech           | Numeric
data_channel_is_world          | Numeric
kw_min_min                     | Numeric
kw_max_min                     | Numeric
kw_avg_min                     | Numeric
kw_min_max                     | Numeric
kw_max_max                     | Numeric
kw_avg_max                     | Numeric
kw_min_avg                     | Numeric
kw_max_avg                     | Numeric
kw_avg_avg                     | Numeric
self_reference_min_shares      | Numeric
self_reference_max_shares      | Numeric
self_reference_avg_sharess     | Numeric
weekday_is_monday              | Numeric
weekday_is_tuesday             | Numeric
weekday_is_wednesday           | Numeric
weekday_is_thursday            | Numeric
weekday_is_friday              | Numeric
weekday_is_saturday            | Numeric
weekday_is_sunday              | Numeric
is_weekend                     | Numeric
LDA_00                         | Numeric
LDA_01                         | Numeric
LDA_02                         | Numeric
LDA_03                         | Numeric
LDA_04                         | Numeric
global_subjectivity            | Numeric
global_sentiment_polarity      | Numeric
global_rate_positive_words     | Numeric
global_rate_negative_words     | Numeric
rate_positive_words            | Numeric
rate_negative_words            | Numeric
avg_positive_polarity          | Numeric
min_positive_polarity          | Numeric
max_positive_polarity          | Numeric
avg_negative_polarity          | Numeric
min_negative_polarity          | Numeric
max_negative_polarity          | Numeric
title_subjectivity             | Numeric
title_sentiment_polarity       | Numeric
abs_title_subjectivity         | Numeric
abs_title_sentiment_polarity   | Numeric
shares                         | Numeric

Dropping unwanted columns and Splitting the dataset into train(80%) and test(20%)

In [8]:
df['shares']

0         593
1         711
2        1500
3        1200
4         505
         ...
39639    1800
39640    1900
39641    1900
39642    1100
39643    1300
Name: shares, Length: 39644, dtype: int64

In [9]:
cols_to_drop = ['shares', 'url', 'timedelta']
# Ensure we only drop columns that actually exist in the dataframe
existing_cols_to_drop = [c for c in cols_to_drop if c in df.columns]

X = df.drop(existing_cols_to_drop, axis=1)

# y contains ONLY the target
y = df['shares']

# (Optional) If doing classification as suggested previously:
# y = (df[target_column] > 1400).astype(int)

# 3. Perform the Split
# test_size=0.2 means 20% of data goes to Test, 80% to Train.
# random_state=42 ensures the split is the same every time you run the code.
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=0.2, 
    random_state=42
)

In [10]:
X_train.shape

(31715, 58)

In [11]:
X_test.shape

(7929, 58)

In [12]:
print("X train", X_train.head())
print("X test", X_test.head())
print("y train", y_train.head())
print("y test",y_test.head())

X train        n_tokens_title  n_tokens_content  n_unique_tokens  n_non_stop_words  \
19837            15.0             628.0         0.509709               1.0
904              11.0             409.0         0.519608               1.0
23876             7.0             345.0         0.609329               1.0
22966            11.0             217.0         0.580189               1.0
4705             13.0             123.0         0.739837               1.0

       n_non_stop_unique_tokens  num_hrefs  num_self_hrefs  num_imgs  \
19837                  0.645084       14.0             1.0       1.0
904                    0.657480        2.0             0.0       1.0
23876                  0.783920        5.0             2.0       1.0
22966                  0.775000        8.0             2.0       3.0
4705                   0.887324        3.0             0.0       1.0

       num_videos  average_token_length  ...  avg_positive_polarity  \
19837         0.0              5.090764  ...               0.275971
904           0.0              4.958435  ...               0.295343
23876         0.0              4.942029  ...               0.428715
22966         0.0              4.520737  ...               0.325667
4705          0.0              4.479675  ...               0.444524

       min_positive_polarity  max_positive_polarity  avg_negative_polarity  \
19837               0.033333                    0.8              -0.259184
904                 0.136364                    0.5              -0.133333
23876               0.062500                    0.6              -0.282639
22966               0.033333                    0.5              -0.098214
4705                0.200000                    1.0              -0.550000

       min_negative_polarity  max_negative_polarity  title_subjectivity  \
19837              -0.500000              -0.100000            0.458333
904                -0.166667              -0.100000            0.000000
23876              -0.800000              -0.050000            0.000000
22966              -0.125000              -0.071429            0.550000
4705               -1.000000              -0.100000            0.000000

       title_sentiment_polarity  abs_title_subjectivity  \
19837                  0.333333                0.041667
904                    0.000000                0.500000
23876                  0.000000                0.500000
22966                  0.200000                0.050000
4705                   0.000000                0.500000

       abs_title_sentiment_polarity
19837                      0.333333
904                        0.000000
23876                      0.000000
22966                      0.200000
4705                       0.000000

[5 rows x 58 columns]
X test        n_tokens_title  n_tokens_content  n_unique_tokens  n_non_stop_words  \
32340            12.0            1015.0         0.422018               1.0
10480             9.0             503.0         0.569697               1.0
15370             9.0             232.0         0.646018               1.0
31592            12.0             171.0         0.722892               1.0
198              11.0             286.0         0.652632               1.0

       n_non_stop_unique_tokens  num_hrefs  num_self_hrefs  num_imgs  \
32340                  0.545031       10.0             6.0      33.0
10480                  0.737542        9.0             0.0       1.0
15370                  0.748428       12.0             3.0       4.0
31592                  0.867925        9.0             5.0       0.0
198                    0.800000        5.0             2.0       0.0

       num_videos  average_token_length  ...  avg_positive_polarity  \
32340         1.0              4.656158  ...               0.333534
10480         1.0              4.576541  ...               0.419786
15370         1.0              4.935345  ...               0.468750
31592         1.0              4.970760  ...               0.500000
198           0.0              5.006993  ...               0.303429

       min_positive_polarity  max_positive_polarity  avg_negative_polarity  \
32340               0.100000                    0.8              -0.160714
10480               0.136364                    1.0              -0.157500
15370               0.375000                    0.5              -0.427500
31592               0.500000                    0.5              -0.216667
198                 0.100000                    0.6              -0.251786

       min_negative_polarity  max_negative_polarity  title_subjectivity  \
32340                  -0.50              -0.071429                 0.0
10480                  -0.25              -0.100000                 0.0
15370                  -1.00              -0.187500                 0.0
31592                  -0.25              -0.166667                 0.4
198                    -0.50              -0.100000                 0.2

       title_sentiment_polarity  abs_title_subjectivity  \
32340                      0.00                     0.5
10480                      0.00                     0.5
15370                      0.00                     0.5
31592                     -0.25                     0.1
198                       -0.10                     0.3

       abs_title_sentiment_polarity
32340                          0.00
10480                          0.00
15370                          0.00
31592                          0.25
198                            0.10

[5 rows x 58 columns]
y train 19837    16100
904        508
23876     1300
22966     3100
4705      6900
Name: shares, dtype: int64
y test 32340     2900
10480     1300
15370    17700
31592     1500
198       1400
Name: shares, dtype: int64

In [13]:
def get_min_max_only(df):
    print(f"{'COLUMN NAME':<30} | {'MIN':<10} | {'MAX':<10}")
    print("-" * 60)
    
    for col in df.columns:
        # Only process numeric columns
        if pd.api.types.is_numeric_dtype(df[col]):
            min_val = df[col].min()
            max_val = df[col].max()
            
            # Print in a aligned row format
            print(f"{col:<30} | {min_val:<10} | {max_val:<10}")

# Run the function
get_min_max_only(X_train)

COLUMN NAME                    | MIN        | MAX
------------------------------------------------------------
n_tokens_title                 | 2.0        | 23.0
n_tokens_content               | 0.0        | 7413.0
n_unique_tokens                | 0.0        | 701.0
n_non_stop_words               | 0.0        | 1042.0
n_non_stop_unique_tokens       | 0.0        | 650.0
num_hrefs                      | 0.0        | 304.0
num_self_hrefs                 | 0.0        | 116.0
num_imgs                       | 0.0        | 128.0
num_videos                     | 0.0        | 91.0
average_token_length           | 0.0        | 8.04153354633
num_keywords                   | 1.0        | 10.0
data_channel_is_lifestyle      | 0.0        | 1.0
data_channel_is_entertainment  | 0.0        | 1.0
data_channel_is_bus            | 0.0        | 1.0
data_channel_is_socmed         | 0.0        | 1.0
data_channel_is_tech           | 0.0        | 1.0
data_channel_is_world          | 0.0        | 1.0
kw_min_min                     | -1.0       | 377.0
kw_max_min                     | 0.0        | 298400.0
kw_avg_min                     | -1.0       | 42827.8571429
kw_min_max                     | 0.0        | 843300.0
kw_max_max                     | 0.0        | 843300.0
kw_avg_max                     | 0.0        | 843300.0
kw_min_avg                     | -1.0       | 3613.0398195
kw_max_avg                     | 0.0        | 298400.0
kw_avg_avg                     | 0.0        | 43567.6599458
self_reference_min_shares      | 0.0        | 690400.0
self_reference_max_shares      | 0.0        | 843300.0
self_reference_avg_sharess     | 0.0        | 690400.0
weekday_is_monday              | 0.0        | 1.0
weekday_is_tuesday             | 0.0        | 1.0
weekday_is_wednesday           | 0.0        | 1.0
weekday_is_thursday            | 0.0        | 1.0
weekday_is_friday              | 0.0        | 1.0
weekday_is_saturday            | 0.0        | 1.0
weekday_is_sunday              | 0.0        | 1.0
is_weekend                     | 0.0        | 1.0
LDA_00                         | 0.0        | 0.926994384393
LDA_01                         | 0.0        | 0.925946986138
LDA_02                         | 0.0        | 0.919999001104
LDA_03                         | 0.0        | 0.925542174019
LDA_04                         | 0.0        | 0.927190809258
global_subjectivity            | 0.0        | 1.0
global_sentiment_polarity      | -0.39375   | 0.655
global_rate_positive_words     | 0.0        | 0.155487804878
global_rate_negative_words     | 0.0        | 0.184931506849
rate_positive_words            | 0.0        | 1.0
rate_negative_words            | 0.0        | 1.0
avg_positive_polarity          | 0.0        | 1.0
min_positive_polarity          | 0.0        | 1.0
max_positive_polarity          | 0.0        | 1.0
avg_negative_polarity          | -1.0       | 0.0
min_negative_polarity          | -1.0       | 0.0
max_negative_polarity          | -1.0       | 0.0
title_subjectivity             | 0.0        | 1.0
title_sentiment_polarity       | -1.0       | 1.0
abs_title_subjectivity         | 0.0        | 0.5
abs_title_sentiment_polarity   | 0.0        | 1.0

Observation of min max value:

Observation 1: (cleaning required)
     4. n_unique_tokens:               Rate of unique words in the content
     5. n_non_stop_words:              Rate of non-stop words in the content
     6. n_non_stop_unique_tokens:      Rate of unique non-stop words in the content

These are rate columns, so the values cannot be more than 1.


Observation 2:(cleaning required)
    19. kw_min_min:                    Worst keyword (min. shares)
    20. kw_max_min:                    Worst keyword (max. shares)
    21. kw_avg_min:                    Worst keyword (avg. shares)
    22. kw_min_max:                    Best keyword (min. shares)
    23. kw_max_max:                    Best keyword (max. shares)
    24. kw_avg_max:                    Best keyword (avg. shares)
    25. kw_min_avg:                    Avg. keyword (min. shares)
    26. kw_max_avg:                    Avg. keyword (max. shares)
    27. kw_avg_avg:                    Avg. keyword (avg. shares)

These are share columns, so the values cannot be less Zero

Observation 3:(no cleaning required)
"Polarity" must be ranging from -1 to +1 
    -1 states it is negative polarity
    +1 states it is positive polarity

In [14]:
#Observation 1 : Treat the values more than 1

rate_cols = ['n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens']

print(f"{'COLUMN':<30} | {'ROWS > 1'}")
print("-" * 45)

for col in rate_cols:
    # 2. Count rows where the value is strictly greater than 1
    error_count = X_train[X_train[col] > 1].shape[0]
    
    print(f"{col:<30} | {error_count}")

# 3. View the actual bad data (optional)
# This lets you see if the value is something crazy like '700'
bad_data = X_train[X_train['n_unique_tokens'] > 1]
print("\nbad data rows are :")
print(bad_data[rate_cols])

COLUMN                         | ROWS > 1
---------------------------------------------
n_unique_tokens                | 1
n_non_stop_words               | 1
n_non_stop_unique_tokens       | 1

bad data rows are :
       n_unique_tokens  n_non_stop_words  n_non_stop_unique_tokens
31037            701.0            1042.0                     650.0

In [15]:
# List of rate columns to fix
rate_cols = ['n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens']

print(f"{'COLUMN':<30} | {'REPLACED':<8} | {'OLD MEAN':<10} | {'IMPUTED VAL':<11} | {'NEW MEAN':<10}")
print("-" * 80)

for col in rate_cols:
    # 1. Capture Old Mean (Includes the massive outliers > 1)
    old_mean = X_train[col].mean()
    
    # 2. Calculate the 'Clean Mean' (Exclude values > 1) -> This is our fill value
    clean_mean = X_train.loc[X_train[col] <= 1, col].mean()
    
    # 3. Identify and Count the bad rows
    mask_bad = X_train[col] > 1
    count_bad = mask_bad.sum()
    
    # 4. Replace bad values with the Clean Mean
    if count_bad > 0:
        X_train.loc[mask_bad, col] = clean_mean
        
        # 5. Calculate New Mean
        new_mean = X_train[col].mean()
        
        print(f"{col:<30} | {count_bad:<8} | {old_mean:<10.4f} | {clean_mean:<11.4f} | {new_mean:<10.4f}")
    else:
        print(f"{col:<30} | {'0':<8} | {old_mean:<10.4f} | {'N/A':<11} | {old_mean:<10.4f}")

# Verification step to ensure no values > 1 remain
print("\n" + "-"*80)
print("Verification (Should be 0 rows > 1):")
for col in rate_cols:
    remaining_errors = X_train[X_train[col] > 1].shape[0]
    print(f"{col:<30} | {remaining_errors}")

COLUMN                         | REPLACED | OLD MEAN   | IMPUTED VAL | NEW MEAN
--------------------------------------------------------------------------------
n_unique_tokens                | 1        | 0.5520     | 0.5299      | 0.5299
n_non_stop_words               | 1        | 1.0028     | 0.9700      | 0.9700
n_non_stop_unique_tokens       | 1        | 0.6930     | 0.6725      | 0.6725

--------------------------------------------------------------------------------
Verification (Should be 0 rows > 1):
n_unique_tokens                | 0
n_non_stop_words               | 0
n_non_stop_unique_tokens       | 0

In [16]:
# List of keyword (share) columns to check
kw_cols = [
    'kw_min_min', 'kw_max_min', 'kw_avg_min',
    'kw_min_max', 'kw_max_max', 'kw_avg_max',
    'kw_min_avg', 'kw_max_avg', 'kw_avg_avg'
]

total_rows = len(X_train)

print(f"{'COLUMN NAME':<30} | {'COUNT < 0':<10} | {'% OF TOTAL':<10}")
print("-" * 60)

# 1. Count rows and calculate percentage per column
for col in kw_cols:
    neg_count = X_train[X_train[col] < 0].shape[0]
    neg_pct = (neg_count / total_rows) * 100
    
    # Print with 2 decimal places for percentage
    print(f"{col:<30} | {neg_count:<10} | {neg_pct:.2f}%")

# 2. Show the top 5 rows that have negative values
condition = (X_train[kw_cols] < 0).any(axis=1)
bad_rows = X_train[condition]

print(f"\nTotal unique rows with at least one negative value: {bad_rows.shape[0]}")
print("\nTop 5 Rows with negative values:")
print(bad_rows[kw_cols].head(5))

COLUMN NAME                    | COUNT < 0  | % OF TOTAL
------------------------------------------------------------
kw_min_min                     | 18399      | 58.01%
kw_max_min                     | 0          | 0.00%
kw_avg_min                     | 652        | 2.06%
kw_min_max                     | 0          | 0.00%
kw_max_max                     | 0          | 0.00%
kw_avg_max                     | 0          | 0.00%
kw_min_avg                     | 6          | 0.02%
kw_max_avg                     | 0          | 0.00%
kw_avg_avg                     | 0          | 0.00%

Total unique rows with at least one negative value: 18399

Top 5 Rows with negative values:
       kw_min_min  kw_max_min  kw_avg_min  kw_min_max  kw_max_max  \
19837        -1.0       677.0  300.512857      7600.0    843300.0
23876        -1.0       165.0   96.800000      7200.0    843300.0
22966        -1.0       715.0  198.431667         0.0    843300.0
36993        -1.0        49.0   11.500000    208300.0    843300.0
26001        -1.0      2000.0  552.800000         0.0    843300.0

          kw_avg_max   kw_min_avg   kw_max_avg   kw_avg_avg
19837  333814.285714  1530.384615  6327.800000  3802.813796
23876  339520.000000  1574.500000  4087.158140  3096.370643
22966  340400.000000     0.000000  5573.003432  3225.938984
36993  646325.000000  3415.489909  5764.606740  5140.730655
26001  275725.000000     0.000000  3578.303885  1828.813459

"kw_min_min" has bad values more than ~58% so we will not consider that further analysis, rest of the columns - will replace it with mean

In [17]:
# List of columns to fix
kw_cols = [
    'kw_max_min', 'kw_avg_min',
    'kw_min_max', 'kw_max_max', 'kw_avg_max',
    'kw_min_avg', 'kw_max_avg', 'kw_avg_avg'
]

print(f"{'COLUMN':<25} | {'REPLACED':<8} | {'OLD MEAN':<10} | {'IMPUTED VAL':<11} | {'NEW MEAN':<10}")
print("-" * 75)

for col in kw_cols:
    # 1. Capture Old Mean (Includes the -1s, so it will be lower)
    old_mean = X_train[col].mean()
    
    # 2. Calculate the 'Clean Mean' (Exclude -1s) -> This is our fill value
    clean_mean = X_train.loc[X_train[col] >= 0, col].mean()
    
    # 3. Identify and Count the bad rows
    mask_neg = X_train[col] < 0
    count_neg = mask_neg.sum()
    
    # 4. Replace negative values with the Clean Mean
    if count_neg > 0:
        X_train.loc[mask_neg, col] = clean_mean
        
        # 5. Calculate New Mean (Should be equal to Clean Mean if all -1s are filled)
        new_mean = X_train[col].mean()
        
        print(f"{col:<25} | {count_neg:<8} | {old_mean:<10.2f} | {clean_mean:<11.2f} | {new_mean:<10.2f}")
    else:
        print(f"{col:<25} | {'0':<8} | {old_mean:<10.2f} | {'N/A':<11} | {old_mean:<10.2f}")

COLUMN                    | REPLACED | OLD MEAN   | IMPUTED VAL | NEW MEAN
---------------------------------------------------------------------------
kw_max_min                | 0        | 1175.48    | N/A         | 1175.48
kw_avg_min                | 652      | 316.06     | 322.72      | 322.72
kw_min_max                | 0        | 13578.15   | N/A         | 13578.15
kw_max_max                | 0        | 753332.38  | N/A         | 753332.38
kw_avg_max                | 0        | 259157.53  | N/A         | 259157.53
kw_min_avg                | 6        | 1120.29    | 1120.50     | 1120.50
kw_max_avg                | 0        | 5681.05    | N/A         | 5681.05
kw_avg_avg                | 0        | 3140.96    | N/A         | 3140.96